body {
	font-family: "Playfair Display";
	color: #1a3b3c; 
	font-weight: 300;
	background-color: #cbdbdb;
}

.text-muted {
	color: #567676;
}

.title-super {
	font-size: 60px;
}

 #logo-animation{
    max-width:200px;
    height:auto;
    display:block;
}

@media only screen and (max-width: 768px) {

	#logo-animation{
    max-width:150px;
	}

	.title-super {
	font-size: 30px;
	}
}

@media only screen and (max-width: 430px) {

	h3 {
	font-size: 18px;
	}

	.title-super {
	font-size: 20px;
	}
} 
