header {
  padding: 154px 0 100px; }

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px; } }

section {
  padding: 150px 0; }

.icon {
  max-width: 100%;
  max-height: 100px;
  margin: 5px; }

.bg-darkteal {
  background-color: #254446;
  color: #dceded; }

.bg-teal {
  background-color: #40798c;
  color: #dceded; }

.bg-lightteal {
  background-color: #dceded;
  color: #254446; }

.bg-green {
  background-color: #567675;
  color: #dceded; }

.bg-pink {
  background-color: #bca3ac;
  color: #254446; }
